<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CustomerRegistrationApp</display-name>
  <welcome-file-list>
    <welcome-file>customerRegister.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>data</servlet-name>
  	<servlet-class>com.ak.servlet.CustomerServlet</servlet-class>
  	<init-param>
  		<param-name>DsJndi</param-name>
  		<param-value>java:/comp/env/jdbc/DsJndi</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>data</servlet-name>
  	<url-pattern>/dburl</url-pattern>
  </servlet-mapping>
  
</web-app>